@import "../../scss/variables";

.root {
  text-align: center;

  &__btnArrow {
    all: unset;
  }

  &__btnArrow:disabled {
    fill-opacity: 0.3;
  }

  &__btnArrow:disabled:hover {
    cursor: copy;
  }

  &__btnArrowImage:disabled {
    fill: transparent;
  }

  &__btnArrowImage {
    all: unset;
    width: 25px;
    height: 25px;
    margin-bottom: -5px;
  }

  &__btnArrowImage:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  &__pageNumber {
    border: 3px solid $orange;
    font-size: 24px;
    margin: 0 10px;
    border-radius: 50px;
    padding: 10px 17px;
  }

  &__pageNumber:hover {
    cursor: pointer;
    color: #fff;
    background-color: $orange;
  }
}
